body {
  background-color: #4d4d4d;
  padding-top: 200px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
  border: 0.5px solid #b8b8b8;
}

#hero {
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  color: #f7f7f7;
  font-weight: 800;
  font-size: 16vw;
  line-height: 15vw;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  width: 70%;
  color: #f7f7f7;
  font-size: 2.2vw;
  font-weight: 400;
  line-height: 3vw;
  margin-top: 60px;
  margin-right: 6vw;
  margin-bottom: 3vw;
}

br {
  color: #f7f7f7;
}

#blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 40px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 2rem 0 2rem;
}

.blog-image {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  object-fit: cover;
}

.blog-image:hover {
  opacity: 0.9;
}

article a {
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
  text-decoration-color: #f7f7f7;
}

.tech-tag,
.core-tag {
  font-size: 1.375rem;
  color: rgb(233, 160, 255);
  margin-top: 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.core-tag {
  color: rgb(115, 234, 185);
}

h3 {
  color: #f7f7f7;
  font-size: 2rem;
  margin-top: 16px;
  margin-bottom: 0;
}

.blog-summary {
  color: #f7f7f7;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
}

.date {
  color: #ebebeb;
  font-weight: 400;
  font-style: italic;
}
