body {
  background-color: #4d4d4d;
}

hr {
  border: 0.5px solid #b8b8b8;
}

#hero {
  padding-top: 150px;
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  color: #f7f7f7;
  font-family: system-ui, sans-serif;
  font-weight: 800;
  font-size: 16vw;
  line-height: 15vw;
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  width: 70%;
  color: #f7f7f7;
  font-family: system-ui;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-top: 48px;
  margin-right: 6vw;
  margin-bottom: 5vw;
}

br {
  color: #f7f7f7;
}

#blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 40px;
  padding-left: 14rem;
  padding-right: 14rem;
  padding-top: 4rem;
  padding-bottom: 0px;
}

.blog-image {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  object-fit: cover;
}

h2 {
  color: #f7f7f7;
  font-family: system-ui;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.blog-summary {
  color: #f7f7f7;
  font-family: system-ui;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
}

.date {
  color: #ebebeb;
  font-family: system-ui;
  font-weight: 400;
  font-style: italic;
}
