body {
  background-color: #4d4d4d;
}

hr {
  border: 0.5px solid #b8b8b8;
}

#navigation {
  background-color: #f7f7f7;
  height: 100px;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 3000;
}

.nav-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 30px;
}

.logo {
  height: 48px;
  margin-left: 30px;
}

#navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#navbar-list li {
  display: inline;
}

ul#navbar-list li a {
  text-decoration: none;
  font-size: 24px;
  color: #4d4d4d;
  margin-right: 50px;
  font-family: system-ui;
  font-weight: 300;
  cursor: pointer;
}

ul#navbar-list li a:hover {
  color: rgb(255, 137, 107);
}

#hero {
  padding-top: 150px;
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  color: #f7f7f7;
  font-family: system-ui, sans-serif;
  font-weight: 800;
  font-size: 16vw;
  line-height: 15vw;
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  width: 70%;
  color: #f7f7f7;
  font-family: system-ui;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-top: 48px;
  margin-right: 6vw;
  margin-bottom: 5vw;
}

br {
  color: #f7f7f7;
}

#blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 40px;
  padding-left: 14rem;
  padding-right: 14rem;
  padding-top: 4rem;
  padding-bottom: 0px;
}

.blog-image {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  object-fit: cover;
}

h2 {
  color: #f7f7f7;
  font-family: system-ui;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.blog-summary {
  color: #f7f7f7;
  font-family: system-ui;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
}

.date {
  color: #ebebeb;
  font-family: system-ui;
  font-weight: 400;
  font-style: italic;
}

#contact {
  color: #f7f7f7;
  font-family: system-ui;
  line-height: 24px;
  width: 30%;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 64px;
}

.contact-icon {
  width: 50px;
  margin-right: 12px;
  margin-left: 12px;
}

footer {
  text-align: center;
  color: #b8b8b8;
  font-size: 0.8rem;
  font-family: system-ui;
}
